

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.env
.auth/
.claude/*
!.claude/commands/
tests/.DS_Store
.DS_Store
.playwright-mcp/